/target
/resources
/datasets
datasets.tar.bz2
tapes/
tapes.tar.bz2
tapes.tar.gz
AppDir
appimage-builder-cache
dev/
voyager_tapes/
voyager_data
correct_tapes/
prototype/
vhs_tapes/
vhs-dicts/
etypes.txt
game.schema
feed.json
*.fst
*.vhs
vcr_v2.tar
site-assets.tar.gz
site-assets/2js
site-assets/indexhtml
site-assets/maincss
site-assets/mainjs