[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genson = "*"
kdl-py = "*"
blaseball-mike = "*"
colored = "*"
pyzstd = "*"

[dev-packages]
#[requires]
#python_version = "3.11"
